.home-margin-setup{
   
    width: 83%;
    min-height: 90vh;
    margin: auto;
}
@media (max-width:768px) {
    .home-margin-setup{
        width: 100%;
        padding: 10px;
    }
}

.welcome-banner{
height: 300px;
display: flex;
justify-content: space-around;
align-items: center;

}
@media (max-width:768px) {
    .welcome-banner{
        height: auto;
        flex-direction: column;
    }
}

.blogsUl{

    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    list-style: none;
    justify-content: center;
    margin-left: -15px;
}
.blogsLi{
    width: 310px;
    border: 1px solid gray;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    position: relative;
}


@media (max-width:768px) {
    .blogsLi{
        width: 100%;
    }
}
.blogsHead{
    background-color: #6EB8EF;
    padding: 10px;
    color: white;
}

.blogsPara{
    padding: 5px;
}


.blogsViewButton{
    background-color: #6EB8EF;
    color: white;
    height: 35px;
    width: 70px;
    border: none;
    align-self: center;
    margin-bottom: 10px;
    justify-self: flex-end;
}

.createBlogButton{
    border: none;
    height: 40px;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    border-radius: 8px;
    color: white;
    background-color: #FF8A8A;
}

.inputStyleCreateBlogs{
    height: 45px;
    outline: none;
    width: 100%;
    padding: 10px;
    margin-top: 5px;
}

.textareaCreateBlog{
    min-height: 80vh;
    width: 100%;
    margin-top: 5px;
    outline: none;
}

.createBlodDiv{
    display: flex;
    gap: 10px;
}

.one{
    width: 50%;
    min-height: 87vh;
    

}
.two{
    width: 50%;
    min-height: 87vh;
    padding: 10px;
    border-left: 1px solid gray;
   
}

.createButton{
    height: 35px;
    width: 80px;
    border: none;
    border-radius: 7px;
    background-color: #6EB8EF;
    color: white;
}